@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0C0A40;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.sec {
    background-color: #171556;
    width: 823px;
    border-radius: 5px;
    margin: auto;
}

#sec-outroseventos {
    margin-top: 30px;
    height: 232px;
}

.sec-outroseventos-h1 {
    padding: 30px 0px 10px 30px;
}

.sec-outroseventos-div {
    display: flex;
    margin: 30px;
    gap: 110px;
}

.sec-outroseventos-div-item {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 2px;
}

.sec-outroseventos-div-item a {
    color: inherit;
}

#sec-sugestoes {
    margin-top: 30px;
}

.sec-sugestoes-h1 {
    padding: 30px 0px 30px 30px;
}

.sec-sugestoes-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec-sugestoes-div-item {
    width: 237px;
    height: 146px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

#img1 {
    background-image: url(../imagens/FESTA-DAS-BARRACAS.-FOTO-GOVERNO-DE-SERGIPE.jpg);
    background-size: cover;
}

#img2 {
    background-image: url(../imagens/download.jpg);
    background-size: cover;
}

#img3 {
    background-image: url(../imagens/images.jpg);
    background-size: cover;
}

#img4 {
    background-image: url(../imagens/images2.jpg);
    background-size: cover;
}


#img5 {
    background-image: url(../imagens/379-História-do-teatro-no-Brasil-e-no-Mundo.webp);
    background-size: cover;
}


#img6 {
    background-image: url(../imagens/assets-fotos-775-vinheta-do-carnaval-globeleza-celebra-a-diversidade-e-a-sustentabilidade-13bce6a954ca.webp);
    background-size: cover;
}


#img7 {
    background-image: url(../imagens/Conheca-12-festas-populares-brasileiras-para-curtir-ao-longo-do-ano-770x500.jpg);
    background-size: cover;
}


#img8 {
    background-image: url(../imagens/halloween-moderno.webp);
    background-size: cover;
}


#img9 {
    background-image: url(../imagens/reveillon.webp);
    background-size: cover;
}

.sec-sugestoes-btn {
    padding: 15px;
    color: white;
    border: none;
    width: 150px;
    border-radius: 5px;
    background-color: #F20574;
    justify-content: center;
    margin: 30px 0px;
    cursor: pointer;
    font-weight: bold;
}

#sec-maisvistos {
    margin-top: 30px;
    height: 500px;
    margin-bottom: 30px;
    padding: 30px;
}

.sec-maisvistos-h1 {
    padding: 0px 0px 30px 0px;
}